<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqua.fall23g1.mapper.ImageMapper">

    <insert id="insertImageData" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    
    	INSERT INTO image
    	(name,
    	type,
    	url)
    	VALUES (#{fileName},
    	#{type},
    	#{url})
	    <selectKey keyProperty="id" resultType="int" order="AFTER">
	        SELECT LAST_INSERT_ID();
	       </selectKey>
    </insert>
    
  

</mapper>