<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqua.fall23g1.mapper.TestTableMapper">
    <resultMap id="BaseResultMap" type="com.aqua.fall23g1.entity.TestTable">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="test_column" jdbcType="VARCHAR" property="testColumn"/>
    </resultMap>
    <insert id="testInsertData" parameterType="String">
        insert into test_table (test_column)
        values (#{data})
    </insert>
</mapper>