<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqua.fall23g1.mapper.UserMapper">

    <insert id="insertUserData">
        INSERT INTO user
        (first_name,
         mid_name,
         last_name,
         email,
         date_of_birth,
         address,
         city,
         province,
         country,
         postal_code,
         phone_num,
         company_name,
         password,
         id_role)
        VALUES (#{firstName},
                #{midName},
                #{lastName},
                #{email},
                #{dateOfBirth},
                #{address},
                #{city},
                #{province},
                #{country},
                #{postalCode},
                #{phoneNum},
                #{companyName},
                #{password},
                #{idRole})
    </insert>
    <update id="updateUser">
        UPDATE user
        SET first_name    = #{firstName},
            mid_name      = #{midName},
            last_name     = #{lastName},
            email         = #{email},
            date_of_birth = #{dateOfBirth},
            address       = #{address},
            city          = #{city},
            province      = #{province},
            country       = #{country},
            postal_code   = #{postalCode},
            company_name  = #{companyName},
            phone_num     = #{phoneNum}
        WHERE id = #{id}
    </update>
    <select id="queryUser" resultType="com.aqua.fall23g1.entity.User">
        SELECT id            AS id,
               first_name    AS firstName,
               mid_name      AS midName,
               last_name     AS lastName,
               email         AS email,
               date_of_birth AS dateOfBirth,
               address       AS address,
               city          AS city,
               province      AS province,
               country       AS country,
               postal_code   AS postalCode,
               phone_num     AS phoneNum,
               company_name  AS companyName,
               id_role       AS idRole
        FROM user
        WHERE email = #{email}
          AND password = #{password}
          AND id_role = #{idRole}
    </select>
    <select id="countUser" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM user
        WHERE email = #{email}
          AND id_role = #{idRole}
    </select>
    <select id="getAllRoles" resultType="com.aqua.fall23g1.entity.Role">
        SELECT id        AS id,
               role_name AS roleName
        FROM role
    </select>
    <select id="getTokenCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM token_history
        WHERE token = #{token}
    </select>
    <select id="getUserById" resultType="com.aqua.fall23g1.entity.User">
        SELECT id            AS id,
               first_name    AS firstName,
               mid_name      AS midName,
               last_name     AS lastName,
               email         AS email,
               date_of_birth AS dateOfBirth,
               address       AS address,
               city          AS city,
               province      AS province,
               country       AS country,
               postal_code   AS postalCode,
               phone_num     AS phoneNum,
               company_name  AS companyName,
               id_role       AS idRole
        FROM user
        WHERE id = #{userId}
    </select>
    <insert id="addTokenHistory">
        INSERT INTO token_history
        (token,
         user_name)
        VALUES (#{token},
                #{userName})
    </insert>
    <delete id="removeToken">
        DELETE
        FROM token_history
        WHERE token = #{token}
    </delete>
</mapper>